<nav class="bd-subnavbar py-2 navbar-light bg-light">
    <div class="container-xxl justify-content-md-end d-grid gap-2 d-md-flex">
        {% if (app.user) %}
            <a class="btn btn-success" href="{{ path('user_logout') }}">Log Out</a>
        {% else %}
            <a class="btn btn-success" href="{{ path('user_login') }}">Login</a>

        {% endif %}
    </div>
</nav>

